
   <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h1 class="pad-adjust">MY FITNESS CLUB</h1>
                </div>
            </div>
        </div>
    </div>
    
    <i id="showLeftPush" class="  " style="font-size: 40px; margin: 6px 0px 0px 10px;"></i>
    <i id="showRightPush" class=" " style="font-size: 40px; margin: 6px 0px 0px 10px;"></i>
        
