
   <div class="for-full-back color-bg-one" id="main-sec">
        <div class="container">
            <div class="row ">
            <div class="col-md-12 ">
                <div class="col-md-12 text-center white-text ">
                   <a href="http://www.myfitnessclub.in/"> <h1 class="pad-adjust">MY FITNESS CLUB</h1> </a>
                </div>

                <div class="col-md-12 "  style="">
                    
               <!--   <span class="btn btn-primary">  ARTICLE  </span>
                <span class="btn btn-primary ">  DITE PLAN  </span> -->
                 <%#= link_to "ARTICLE" ,   article_welcomes_path , class: "btn btn-success "%>
                 <%#= link_to "DIET PLAN" ,    diet_plan_welcomes_path  , class: "btn btn-success "%>
                 
                     
                </div>
                  

                </div>
               </div>
            </div>
        </div>
    </div>
    
    <i id="showLeftPush" class="  " style="font-size: 40px; margin: 6px 0px 0px 10px;"></i>
    <i id="showRightPush" class=" " style="font-size: 40px; margin: 6px 0px 0px 10px;"></i>
        
<style type="text/css">
    .white-text >a {
        color: white;
    }
</style>